.admin-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #f8f8f8;
}
.admin-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  height: 100vh; /* gunakan height saja tanpa max-height */
  max-height: none;
  box-sizing: border-box;
}
