:root {
  --bg: #f5f5f5;
  --text: #111;
  --card-bg: #f7faff24;
  --brand: #000;
}

[data-theme='dark'] {
  --bg: #0e0e0f;
  --text: #eee;
  --card-bg: #1a1a1c;
  --brand: #fff;
}

.login-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  transition: 0.25s ease;
}

.brand {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--brand);
  text-align: center;
}

.brand span {
  color: #1472ff;
}

.login-card {
  width: 410px;
  padding: 40px 35px;
  border-radius: 25px;
  background: var(--card-bg) !important;
  color: var(--text);
  transition: 0.5s ease;
}

.title,
.subtitle {
  text-align: center;
  color: var(--text) !important;
}

.login-btn {
  background: #1479ff !important;
  font-weight: 750;
}
