version: '3.9'
services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hotel_app
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  backend:
    build: ../backend
    ports:
      - "4000:4000"
    depends_on:
      - mysql
  frontend:
    build: ../frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
volumes:
  mysql_data:
